asgiref
astroid
autopep8
certifi
charset-normalizer
colorama
dill
Django
docopt
idna
isort
lazy-object-proxy
mccabe
Pillow
pipreqs
platformdirs
psycopg2-binary
pycodestyle
pylint
pylint-django
pylint-plugin-utils
pytz
requests
six
sqlparse
tomlkit
urllib3
wrapt
yarg
